{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block body %}

<div class="section">

<p>
<b>courrier &eacute;lectronique</b> :
<a href="mailto:vincent (dot) delecroix (at) labri.fr"><tt>vincent (dot) delecroix (at) labri (dot) fr</tt></a> avec ma
<a href="vincent-delecroix.asc"> clé publique</a> pour crypter vos envois.
</p>

<p>
L'outil standard pour crypter son courrier est la suite
<a href="Ghttp://www.gnupg.org/">GNU Privacy Guard</a>. Elle peut ensuite
être utilisée pour son courriel avec le plugin
<a href="https://www.enigmail.net">Enigmail</a> pour thunderbird.
</p>

<p>
<b>adresse à Bordeaux</b>:<br/>
<b>téléphone:</b>+33 (0)5 40 00 35 27</br>
bureau 314<br/>
LaBRI, UMR 5800<br/>
Bâtiment A30<br/>
351, cours de la Libération<br/>
33405 Talence cedex - FRANCE
</p>

</div>
{% endblock %}
