{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block body %}

<div class="section">
<h2><a name="enseignement">Enseignement</a></h2>
<p>
<ul>
  <li>
  2015 <a href="http://cantorsalta2015.sciencesconf.org/">ecole CIMPA a Salta</a> (Argentine)
  <ul>
  <li><a href="Salta2015-notes.pdf">note de cours</a></li>
  <li><a href="Salta2015-charla1.pdf">cours 1: Sturmian sequences</a></li>
  <li><a href="Salta2015-charla2.pdf">cours 2: Interval exchange maps</a></li>
  <li><a href="Salta2015-charla3.pdf">cours 3: Boshernitzan criterion and linear recurrence</a></li>
  <li><a href="Salta2015-charla4.pdf">cours 4: generic properties</a></li>
  <li><a href="Salta2015-Sage_embaldosas.pdf">Sage: embaldosas</a> (en espagnol)</li>
  <li><a href="Salta2015-Sage_palabras_sturmianas.pdf">Sage: palabras sturmianas</a> (en espagnol)</li>
  <li><a href="Salta2015-Sage_automata_celular.pdf">Sage: autómata celular</a> (en espagnol)</li>
  </ul>
  </li>

  <li>
  2013 <a href="http://www.matmor.unam.mx/infinite-surfaces-morelia/">mini-cours Morelia</a> (Mexique)
  <ul>
	<li><a href="Morelia_exercise_sheet1.pdf">Feuille d'exercice sur SL(2,R)/SL(2,Z)</a></li>
	<li><a href="Morelia_exercise_sheet2.pdf">Feuille d'exercice sur les surfaces de Veech en L (dans H(2)) et la dynamique du windtree associ&eacute;</a></li>
  </ul>
  </li>

  <li>
  2010/2011 (marseille):
  <ul>
	<li>premier semestre: <a href="algoarith_CAPES/">Arithm&eacute;tique et informatique
	  au CAPES</a></li>
	<li>second semestre: <a href="matrices_MAT24">Alg&egrave;bre lin&eacute;aire MAT24</a></li>
  </ul>
  </li>
  <li>
    2009/2010 (marseille):
    <ul>
      <li>
	premier semestre : <a href="TDMAT40_2009.html"> TD de
	statistiques MAT 40 </a>(groupes 13 et 15).
      </li>
    </ul>
  </li>

  <li>
    2008/2009 (marseille):
    <ul>
      <li>
	premier semestre : <a href="TD2008.html">TD de statistiques</a>
      </li>
      <li>
	second semestre : TD d'alg&egrave;bre lin&eacute;aire.
      </li>
    </ul>
  </li>
</ul>
</p>
</div> <!-- end of section -->

<div class="section">
<h2><a name="pedagogie">Diffusion et popularisation de la recherche</a></h2>
<ul>
	<li>Organisation d'une <a href="http://www.lirmm.fr/arith/wiki/MathInfo2010/Journ%c3%a9eSageDansLenseignement">journ&eacute;e Sage-lyc&eacute;e </a> au CIRM en F&eacute;vrier 2010 en collaboration avec <a href="http://iml.univ-mrs.fr/~crumiere/">Anne Crumi&egrave;re</a>.</li>
	<li>Mise en place d'un serveur de calcul Sage &agrave; l'IREM d'Aix-Marseille &agrave; l'adresse <blockquote><a href="http://sage.irem.univ-mrs.fr">http://sage.irem.univ-mrs.fr</a></blockquote></li>
	<li>quelques feuilles d'exemples en SAGE (voir <a href="http://sage.irem.univ-mrs.fr">http://sage.irem.univ-mrs.fr)</a></li>
	<li>Encadrement de groupes <a href="http://mathenjeans.free.fr/">MATh.en.JEANS</a> (2010-2011: Gap, "th&eacute;or&egrave;me de Pick", "&eacute;tude du temps d'attente dans une cantine")</li>
	<li>Participation aux activités de l'association <a href="http://www.maths-pour-tous.org">Maths pour tous</a></li>
</ul>
</div>


{% endblock %}

